<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>

    footer{
    position: absolute;
    bottom: 0;
    }

</style>
<body>
<div class="container-fluid">
    <header>
        <h1 class="jumbotron">welcome to Codefellowship </h1>
    </header>

    <p>This is site allows people to code and  connect with each other and support on their coding journeys. </p>
    <a href="/signup">sign up</a>
    <footer><div>&copy Codefellowship</div></footer>
</div>

</body>
</html>