<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<style>
 body{
   display: flex;
    flex-direction: column;
    justify-content: center;
 }
 footer{
    position: absolute;
    bottom: 0;
    }
   .links{

    display: flex;
  justify-content: space-around;
    }
</style>

<body>
<div class="container-fluid">
<header class="jumbotron">
    <div class="links">
        <a href="/">Home</a>
        <a href="/posts">See my Posts</a>
    </div>

</header>
<!--<div th:replace= "common ::nav></div>-->

<h1>User</h1>
<img src="https://cdn.pixabay.com/photo/2013/05/30/18/21/tabby-114782_960_720.jpg" width="100" height="100" alt="user image"/>
<p>firstname</p>
<p>lastname</p>
<p>dateofbirth</p>
<p>bio</p>
        <!--<p th:text = "${user.username}"></p></a>-->
        <!--<p th:text="${user.bio}"></p>-->



</div>
<footer><div>&copy Codefellowship</div></footer>
</body>

</html>